@media(max-width: 1540px) {
    .tooltip_venezuela {
        top: 40%;
        left: 18%;
    }

    .tooltip_dominicana {
        top: 42%;
        left: 21%;
    }
}
@media(max-width: 1740px) {
    .tooltip_brazil {
        top: 53%;
        left: 26%;
    }
    .tooltip_africa {
        top: 48%;
        left: 53.5%;
    }
    .tooltip_turkey {
        top: 41%;
        left: 55%;
    }
    .tooltip_latvia {
        top: 32%;
        left: 51%;
    }
    .tooltip_portugal {
        top: 35%;
        left: 41.7%;
    }
    .tooltip_gb {
        top: 30%;
        left: 42%;
    }
    .tooltip_usa {
        top: 38%;
        left: 14%;
    }
    .tooltip_dominicana {
        top: 46%;
        left: 16.5%;
    }
    .tooltip_venezuela {
        top: 48%;
        left: 22%;
    }
}
@media(max-width: 1600px) {
    .tooltip_latvia {
        top: 30%;
        left: 51%;
    }
    .tooltip_turkey {
        top: 40%;
        left: 55%;
    }
    .tooltip_gb {
        top: 27%;
        left: 42%;
    }
    .tooltip_portugal {
        top: 33.3%;
        left: 41.5%;
    }
}
@media(max-width: 1440px) {
    .map {
        width: 100%;
        height: 117vh;
    }
    .tooltip_turkey {
        top: 41%;
        left: 54%;
    }
    .tooltip h2 {
        font-size: 18px;
        font-weight: 400;
    }
    .tooltip_usa {
        top: 38%;
        left: 14%;
    }
    .tooltip_portugal {
        top: 36.3%;
        left: 40.5%;
    }
    .tooltip_gb {
        top: 30%;
        left: 41.2%;
    }
    .tooltip_brazil {
        top: 53%;
        left: 25%;
    }
    .tooltip_venezuela {
        top: 47.5%;
        left: 21%;
    }
    .tooltip_africa {
        top: 48%;
        left: 53%;
    }
    .tooltip_latvia {
        top: 33%;
        left: 50%;
    }
    .tooltip_dominicana {
        top: 46%;
        left: 16%;
    }
    .tooltip {

        max-width: 140px;

    }
}
@media(max-width: 1366px) {
    .tooltip_usa {
        top: 37%;
        left: 13%;
    }
    .tooltip_africa {
        top: 48%;
        left: 52%;
    }
    .tooltip_portugal {
        top: 34.6%;
        left: 40.5%;
    }
    .tooltip_latvia {
        top: 31%;
        left: 50%;
    }
    .tooltip_gb {
        top: 27.5%;
        left: 40.3%;
    }
}
@media(max-width: 1120px) {
    /* .tooltip_gb {
        top: 24%;
        left: 41%;
    }

    .tooltip_portugal {
        top: 30%;
        left: 37%;
    }

    .tooltip_venezuela {
        top: 39%;
        left: 17%;
    }

    .tooltip_dominicana {
        top: 41%;
        left: 20%;
    } */
    .tooltip_africa {
        top: 47%;
        left: 50%;
    }
    .tooltip_portugal {
        top: 36.3%;
        left: 38.5%;
    }
    .tooltip_latvia {
        top: 33%;
        left: 48%;
    }
    .tooltip_brazil {
        top: 50%;
        left: 25%;
    }
    .tooltip_venezuela {
        top: 46%;
        left: 20%;
    }
    .tooltip_gb {
        top: 30.5%;
        left: 38.3%;
    }
    .tooltip_dominicana {
        top: 45%;
        left: 14%;
    }
    .tooltip_usa {
        top: 37%;
        left: 12%;
    }
    .tooltip_turkey {
        top: 40%;
        left: 51%;
    }
    .section_map {
        margin-top: -43px;
    }
    .tooltip {
        max-width: 119px;
    }
}

@media(max-width: 960px) {
    /* .tooltip_turkey {
        top: 31%;
        left: 44%;
    }

    .tooltip_venezuela {
        top: 38%;
        left: 17%;
    }

    .tooltip_usa {
        top: 32%;
        left: 12%;
    }

    .tooltip_dominicana {
        top: 40%;
        left: 19%;
    } */

}

@media(max-width: 860px) {
    /* .tooltip h2 {
        font-size: 14px;
    }

    .tooltip_latvia {
        top: 21%;
        left: 45%;
    }
    .tooltip_portugal {
        top: 28%;
        left: 36%;
    }

    .tooltip_gb {
        top: 21%;
        left: 39%;
    } */
}

@media(max-width: 767px) {
    .nav_all {
        display: none;
    }
    .section_about {
        margin-top: 40px!important;
    }
    .section_map {
        margin-top: 30px!important;
    }
    .header {
        padding: 15px 0;
    }

    .map_content {
        display: none;
    }

    .accordion {
        display: block;
    }
    
    .header {
        position: static;
        box-shadow: 0px -8px 34px -9px rgba(44, 49, 158, 0.35),0px 4px 52px 12px rgba(74, 105, 176, 0.19);
    }

    /* .section_map {
        padding: 35px 0 60px;
    } */

    .about_content {
        flex-direction: column-reverse;
    }

    .about_col {
        width: 100%;
        text-align: center;
    }

    .about_col-img {
        margin-bottom: 25px;
    }

    .about_col p {
        font-size: 16px;
    }

    .section_title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .section_about {
        background: #1A1B1F;
    }

    .box_logo {
        display: none;
    }

    .burger {
        display: block;
    }
} 
@media(max-width:1730px) {
    .section_map {
        margin-top: -60px;
    }
    .section_about {
        margin-top: -270px;

    }
}
@media(max-width:1366px) {
    .section_map {
        margin-top: -20px;
    }
    .map  {
        height: 120vh;
    }
    .section_about {
        margin-top: -240px;

    }
    
}
@media(max-width:1250px) {
    .section_map {
        margin-top: -60px;
    }
}
@media(max-width:1024px) {
    .section_map {
        margin-top: -80px;
    }
}
@media(max-width:925px) {
    .section_map {
        margin-top: -140px;
    }
}
